<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Air-Bun</title>
  <link rel="stylesheet" href="/output.css"/>
</head>

<body class="bg-gray-100">

  <!-- Navbar -->
  <nav class="bg-red-500 text-white p-4 flex justify-between items-center">
    <h1 class="text-xl font-bold">AirBun</h1>
    <div class="space-x-6">
      <a href="/" class="hover:underline">Go to Home</a>
      <a href="/host/add-home" class="hover:underline">Add Home</a>
    </div>
  </nav>

  <!-- Main Content -->
  <main class="p-10">
    <h2 class="text-4xl font-bold text-gray-800 mb-6">
      Welcome to airbnb
    </h2>

    <div class="bg-white p-6 rounded-lg shadow-md max-w-md">
      <h2 class="text-gray-600">
       Here is registerd homes:
      </h2>
      <ul>
        <% registerd.forEach((home)=>{
          %><li><%=home.housename %>

          </li>
        <% }) %>
      </ul>
    </div>
  </main>

</body>
</html>